body{
  font-size: 14px;
  line-height: 26px;
  color: black;
  font-weight: regular;
  font-family: PTSans;

}

h1, h2{
  font-size: 21px;
  line-height: 26px;
  color: black;
  font-weight: bold;
  font-family: PTSans;

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header{
  background-color: red;
  width: 1200px;
}

.why-sedona{
  background-color: blue;
  width: 1200px;
  min-height: 724px;
}

.why-sedona h1, .why-sedona p{
  background-color: grey;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}

.reason-1{
  background-color: green;
  width: 1200px;
}

.reason-1 .reason{
  float:left;
  background-color: grey;
  width: 400px;
}

.reason-1 .picture-right{
  float:right;;
  background-color: grey;
}


.features{
  background-color: yellow;
  width: 1200px;
}
.features .reason, .other-reasons .reason{
  float:left;
  background-color: grey;
  width: 400px;
}

.reason-2{
  background-color: blue;
  width: 1200px;
}

.reason-2 .picture-left{
  float:left;
}

.reason-2 .reason{
  float:right;;
  background-color: grey;
  width: 400px;
}

.other-reasons{
  background-color: purple;
  width: 1200px;
}
.booking{
  background-color: magenta;
  width: 1200px;
}

.choice form{
  background-color: grey;
  width: 576px;
  margin-left: auto;
  margin-right: auto;
}

footer{
  background-color: yellow;
  width: 1200px;
}

.hashtag{
  float:left;
  background-color: grey;
  width: 240px;
  margin-left: 73px;
  margin-right: 88px;
}
.footer-social{
  float:left;
  background-color: grey;
  width: 400px;

}
.footer-copyright{
  float:right;
  background-color: grey;
  width: 240px;
  margin-right: 73px;
}

.structure{
  float:left;
  background-color: grey;
  width: 149px;
  margin-left: 73px;
}

.house-type{
  float:left;
  background-color: grey;
  width: 166px;
  margin-left: 93px;
}

.price{
  float:right;;
  background-color: grey;
  width: 328px;
  margin-right: 73px;
}
.hotel-choice{
  background-color: magenta;
  width: 1200px;
}
.result-header{
  background-color: green;
  width: 1200px;
}
.result-header-right{
  float:right;
  background-color: grey;
  width:40px;
  margin-right:73px
}
.result-header-left{
  float:left;
  background-color: grey;
  width:528px;
  margin-left:73px
}

.results{
  background-color: blue;
  width:1200px;
}

.result-item-left{
  float:left;
  background-color: grey;
  width:528px;
  margin-left:73px;
}

.result-item-right{
  float:right;;
  background-color: grey;
  width:241px;
  margin-right:73px
}
