body{
  font-size: 14px;
  line-height: 26px;
  color: black;
  font-weight: regular;
  font-family: PTSans;

}

h1, h2{
  font-size: 21px;
  line-height: 26px;
  color: black;
  font-weight: bold;
  font-family: PTSans;

}
