/*спрайты*/

.sprite
{
    display: block;

    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
}
body
{
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

    text-transform: uppercase;

    background: #f2f2f2;
}

h1
{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    color: black;
}

.main-header
{
    position: relative;
}

.container
{
    width: 1200px;
    margin: 0 auto;

    background-color: #fff;
    box-shadow: 5px 0 15px rgba(0,1,1,.2),-5px 0 15px rgba(0,1,1,.2);
}

.clearfix::after
{
    display: table;
    clear: both;

    content: '';
}
.visuallyHidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

/*верхнее меню*/
.main-navigation ul
{
    font-size: 0;

    padding-right: 6%;
    padding-left: 6%;
}

.main-navigation li
{
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;

    display: inline-block;
    float: left;

    width: 23%;
    padding-top: 14px;
    padding-bottom: 14px;
}


.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4)
{
    float: right;

    text-align: right;
}

.main-navigation a
{
    text-align: left;
    text-decoration: none;

    color: black;
}

.main-navigation li:nth-child(3) a,
.main-navigation li:nth-child(4) a
{
    text-align: right;
}

.main-header .logo
{
    position: absolute;
    z-index: 10;
    left: 50%;

    margin-left: -69px;
}

.main-navigation a:hover
{
    color: #81b3d2;
}

.main-navigation a:active
{
    color: rgba(0, 0, 0, .3);
}

.active a
{
    color: #766357;
}

.active a:hover
{
    color: #604e43;
}
.active a:active
{
    opacity: .3;
    color: #766357;
}

/*картинка + главный тезис*/
.why-sedona-mask
{
    position: relative;
    z-index: 2;

    margin-top: -65px;
    padding-bottom: 60px;

    text-align: center;

    background: transparent url('../img/header-mask.png') no-repeat 0 0;
}
.why-sedona
{
    position: relative;
}
.why-sedona h1,
.why-sedona p
{
    padding: 0 100px;

    text-align: center;
}
.why-sedona h1
{
    margin-top: 55px;
}
.why-sedona p
{
    margin-top: 26px;

    color: #333;
}


/*причины*/
.reason-1
{
    overflow: hidden;

    margin-top: 50px;
}

.reason-1 .reason
{
    float: left;

    width: 300px;
    padding: 40px 50px;

    text-align: center;

    color: white;
    background-color: #81b3d2;
}
.reason-1 .picture-right
{
    position: relative;

    float: right;

    width: 800px;
}
.reason-1 img
{
    position: absolute;

    display: block;

    max-width: 100%;
    height: auto;
}

.reason h2,
.reason p,
.reason span
{
    line-height: 21px;
}
.reason p
{
    padding-top: 5px;
}

.features
{
    text-align: center;
}
.features p
{
    margin-top: 3px;
}
.features .reason
{
    float: left;

    width: 300px;
    padding-right: 50px;
    padding-left: 50px;

    text-align: center;
}

.live,
.food,
.present
{
    position: relative;

    display: inline-block;

    margin-top: 160px;
}

.live::before,
.food::before,
.present::before
{
    position: absolute;
    top: -100px;
    left: 50%;

    display: block;

    width: 76px;
    height: 76px;

    content: '';
    transform: translateX(-50%);

    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
}

.live::before
{
    background-position: -12px -1067px;
}

.food::before
{
    background-position: -12px -12px;
}
.present::before
{
    background-position: -7px -1163px;
}

.reason-2
{
    overflow: hidden;

    margin-top: 67px;

    background: #eee;
}
.reason-2 .picture-left
{
    position: relative;

    float: left;

    width: 800px;
}
.reason-2 img
{
    position: absolute;

    display: block;

    max-width: 100%;
    height: auto;
}
.reason-2 .reason
{
    float: right;

    width: 320px;
    padding: 40px 40px;

    text-align: center;

    color: white;
    background-color: #81b3d2;
}
.grey-reasons
{
    padding-top: 5px;
    padding-bottom: 45px;

    background: #eee;
}
.grey-reasons h2,
.grey-reasons p,
.grey-reasons span
{
    padding-top: 23px;
    padding-right: 10px;
    padding-left: 10px;

    text-align: center;
}


/*форма поиска*/
.choice
{
    position: relative;
}
.booking h3
{
    padding-top: 21px;
}
.booking h3,
.booking p
{
    padding-right: 100px;
    padding-left: 100px;

    text-align: center;
}
.booking h3
{
    font-size: 30px;
    font-weight: bold;
    line-height: 26px;

    position: relative;
}
.booking p
{
    line-height: 24px;
}
.btn-choice
{
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    display: block;

    width: 570px;
    margin: 0 auto;
    margin-top: 47px;
    padding: 31px 50px 30px 50px;

    text-align: center;
    text-transform: uppercase;

    color: white;
    border: none;
    background-color: #766357;
}

.map
{
    margin-bottom: -130px;
}
.form-choice
{
    font-size: 0;

    position: absolute;
    top: 0;
    left: 50%;

    width: 460px;
    min-height: 285px;
    margin-right: auto;
    margin-bottom: 78px;
    margin-left: auto;
    padding: 55px;

    transform: translateX(-50%);

    background-color: white;
}
.form-choice input,
.form-choice label
{
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

    text-transform: uppercase;
}
/*.point-date-in{
  margin-top: 0px;
}*/
.point
{
    position: relative;

    margin-top: 22px;
}
.date-in,
.date-out,
.adult
{
    float: left;

    width: 95px;
    min-height: 40px;
    margin-right: 15px;
    padding-top: 5px;
}

.children
{
    line-height: 40px;

    float: left;

    width: 50px;
    min-height: 40px;
    margin-right: 14px;
    margin-left: 53px;
    padding-top: 5px;
}

.date-in-input,
.date-out-input
{
    width: 330px;
    height: 38px;
    padding-left: 15px;

    border: none;
    background-color: #f2f2f2;
}

.btn-date
{
    position: absolute;

    width: 21px;
    height: 22px;
    margin-top: 8px;
    margin-left: -28px;

    border: none;
    background: url('../img/sprite.png') no-repeat;
    background-position: -12px -106px;
}
.btn-date:hover
{
    width: 21px;
    height: 22px;

    background-position: -12px -198px;
}

.btn-date:active
{
    width: 21px;
    height: 22px;

    background-position: -12px -152px;
}
.mini-input
{
    float: left;

    width: 25px;
    height: 36px;
    padding-right: 7px;
    padding-left: 7px;

    text-align: center;

    border: none;
    background-color: #f2f2f2;
}
.btn-minus
{
    float: left;

    width: 38px;
    height: 38px;

    border: none;
    background: #f2f2f2 url('../img/sprite.png') no-repeat;
    background-position: 1px -604px;
}
.btn-minus:hover
{
    float: left;

    width: 38px;
    height: 38px;

    border: none;
    background: #f2f2f2 url('../img/sprite.png') no-repeat;
    background-position: 1px -658px;
}
.btn-minus:active
{
    float: left;

    width: 12px;
    width: 38px;
    height: 3px;
    height: 38px;

    border: none;
    background: #f2f2f2 url('../img/sprite.png') no-repeat;
    background-position: 1px -631px;
}


.btn-plus
{
    float: left;

    width: 11px;
    width: 38px;
    height: 11px;
    height: 38px;

    border: none;
    background: #f2f2f2 url('../img/sprite.png') no-repeat;
    background-position: 1px -688px;
}
.btn-plus:hover
{
    float: left;

    width: 11px;
    width: 38px;
    height: 11px;
    height: 38px;

    border: none;
    background: #f2f2f2 url('../img/sprite.png') no-repeat;
    background-position: 1px -758px;
}
.btn-plus:active
{
    float: left;

    width: 11px;
    width: 38px;
    height: 11px;
    height: 38px;

    border: none;
    background: #f2f2f2 url('../img/sprite.png') no-repeat;
    background-position: 1px -723px;
}

.btn-search
{
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    width: 459px;
    margin-top: 45px;
    padding: 17px 70px 17px 70px;

    text-align: center;
    text-transform: uppercase;

    color: white;
    border: none;
    background-color: #81b3d2;
}

.date-in-input:hover,
.date-out-input:hover,
.mini-input:hover
{
    background-color: #ebebeb;
}

.date-in-input:active,
.date-out-input:active,
.date-in-input:focus,
.date-out-input:focus
{
    width: 326px;
    height: 34px;
    padding-right: 2px;
    padding-left: 13px;

    border: 2px solid #e5e5e5;
    background-color: white;
}
.mini-input:active
{
    width: 21px;
    height: 32px;

    border: 2px solid #e5e5e5;
    background-color: white;
}

.btn-search:hover
{
    background-color: #669ec0;
}

.btn-search:active
{
    color: #87b5d1;
    background-color: #5496bd;
}

/*футер*/
footer
{
    position: relative;

    padding: 40px 0 40px 0;

    text-align: center;

    background-color: rgba(256,256,256,.9);
}

.hashtag
{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    float: left;

    width: 21.333333%;
    padding-top: 5px;
    padding-right: 6%;
    padding-left: 6%;

    color: black;
}
.footer-social
{
    font-size: 0;

    float: left;

    width: 21.333333%;
    margin-top: -5px;
    padding-right: 6%;
    padding-left: 6%;
}

.social-btn
{
    display: inline-block;

    width: 46px;
    height: 48px;
    margin-right: 6px;

    vertical-align: top;

    background-color: #81b3d2;
    background-image: url('../img/sprite.png');
}
.social-btn:last-child
{
    margin-right: 0;
}
.social-btn:hover
{
    background-color: #669ec0;
}
.social-btn-twitter
{
    background-position: 3px -792px;
}

.social-btn-twitter:active
{
    background-color: #5496be;
    background-image: url('../img/sprite.png');
    background-position: 3px -831px;
}

.social-btn-fb
{
    background-position: 5px -333px;
}

.social-btn-fb:active
{
    background-color: #5496be;
    background-image: url('../img/sprite.png');
    background-position: 5px -376px;
}

.social-btn-youtube
{
    background-position: 1px -972px;;
}

.social-btn-youtube:active
{
    background-color: #5496be;
    background-image: url('../img/sprite.png');
    background-position: 1px -1012px;
}

.footer-copyright
{
    float: right;

    width: 21.333333%;
    margin-top: 5px;
    margin-right: -20px;
    padding-right: 6%;
    padding-left: 6%;
}
.copyright
{
    font-size: 0;

    position: relative;

    display: inline-block;

    margin-right: 150px;

    vertical-align: top;
}

.copyright::before
{
    position: absolute;
    top: -25%;

    width: 113px;
    height: 39px;

    content: '';

    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    background-position: -12px -432px;
}
.copyright:hover::before
{
    width: 113px;
    height: 39px;

    background-position: -12px -558px;
}

.copyright:active::before
{
    width: 113px;
    height: 39px;

    background-position: -12px -495px;
}

/*вторая страница*/

/*форма выбора*/
.hotel-choice
{
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;

    padding: 0 6%;

    text-transform: uppercase;

    color: white;
    background-image: url('../img/hotels-form.jpg');
}
.form-column
{
    display: flex;
    float: left;

    width: 150px;
    margin-top: 30px;
    margin-bottom: -5px;
    margin-left: -10px;

    border: none;

    flex-wrap: wrap;
    justify-content: space-between;
}
.price
{
    margin-top: 24px;
    margin-right: -20px;

    border: none;
}

.form-column > label
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}



.form-column legend
{
    width: 100%;
}
.form-column label
{
    /*padding-left: 20px;*/
    width: 160px;
}
.house-type
{
    margin-left: 71px;
}

.form-column input
{
    width: 50px;
    height: 0;
    margin-bottom: 16px;

    opacity: 0;
}



.form-column input + label::before
{
    padding-right: 15px;

    content: url('../img/icon-check-off.png');
}
.form-column input:checked + label::before
{
    padding-right: 15px;

    content: url('../img/icon-check-on.png');
}

.price
{
    float: right;
}
.filter-range
{
    width: 330px;

    text-transform: uppercase;

    color: #fff;
}

.filter-range-title
{
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;

    margin-bottom: 5px;
    padding-top: 4px;
}

.price-controls
{
    font-size: 0;

    position: relative;

    height: 36px;
    margin-bottom: 20px;

    border: 2px solid #fff;
    border-radius: 2px;
}

.price-controls::after
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    content: '';
    transform: translate(-50%, -50%);

    background: #fff;
}

.price-controls label
{
    font-size: 14px;
    line-height: 38px;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;
}

.price-controls .min-price,
.price-controls .max-price
{
    width: 90px;
    padding-left: 65px;
}

.price-controls input
{
    font: inherit;

    width: 50px;
    margin: 0;

    color: inherit;
    border: none;
    background: none;
}

.range-controls
{
    position: relative;

    margin-bottom: 29px;
}

.range-controls .scale
{
    height: 2px;

    background: rgba(255, 255, 255, .3);
}

.range-controls .bar
{
    width: 80%;
    height: 2px;

    background: #fff;
}

.range-toggle
{
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}

.range-toggle:hover
{
    background: #1c4f80;
}

.range-toggle-min
{
    left: 0;
}

.range-toggle-max
{
    left: 80%;
}

.btn-transparent
{
    font-size: 14px;
    line-height: 20px;

    display: block;

    margin: 0 auto;
    margin-bottom: 20px;
    padding: 6px 35px;

    cursor: pointer;
    text-transform: uppercase;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    background: transparent;
}

.btn-transparent:hover
{
    color: #000;
    background: #fff;
}

/*хлебные крошки*/
.result-header
{
    padding: 29px 6%;

    border-bottom: 1px solid #e5e5e5;
}
.result-header-right
{
    position: relative;

    float: right;
}


.btn-sort-up-down,
.btn-sort-down-up
{
    /*vertical-align: top;*/
    font-size: 0;

    display: inline-block;

    width: 11px;
    height: 10px;

    border: none;
    background: transparent;
}

.btn-sort-down-up
{
    width: 11px;
    height: 10px;
    margin-right: 12px;

    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    background-position: -11px -885px;
}
.btn-sort-up-down
{
    width: 11px;
    height: 10px;

    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    background-position: -12px -278px;
}

.btn-sort-down-up:hover
{
    background-position: -11px -953px;
}

.btn-sort-down-up:active
{
    background-position: -11px -919px;
}

.btn-sort-up-down:hover
{
    background-position: -12px -312px;
}

.btn-sort-up-down:active
{
    background-position: -12px -244px;
}

.btn-sort-up-down-active
{
    background-position: -12px -244px;
}
.result-header-left
{
    float: left;
}
.result-header-left b
{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    /*padding-left: 73px;*/
}
.result-header-left span
{
    font-size: 12px;
    line-height: 18px;

    margin-left: 42px;

    text-decoration: none;
}
.result-header-left .btn-sort
{
    font-size: 12px;
    line-height: 18px;

    margin-left: 38px;

    text-decoration: none;

    opacity: .3;
    color: black;
    border-bottom: 1px dotted black;
}
.result-header-left .btn-sort:hover
{
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.result-header-left .btn-sort:active
{
    opacity: 1;
    color: black;
    border-bottom: none;
}

.result-header-left .active
{
    opacity: 1;
    color: #81b3d2;
    border: none;
}
/*результат*/
.result-item
{
    position: relative;

    min-height: 125px;
    padding-top: 25px;
    padding-right: 250px;
    padding-left: 235px;

    border-bottom: 1px solid #e5e5e5;
}
.result-item .img
{
    float: left;

    margin-top: -25px;
    margin-left: -166px;
    padding-top: 30px;
}

.hotel-name
{
    display: block;
}


.result-item .hotel
{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    text-decoration: none;

    color: black;
}
.result-item .hotel:hover
{
    color: #81b3d2;
}

.result-item .hotel:active
{
    opacity: .3;
    color: black;
}
.info-column .more,
.info-column .reservations
{
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;

    display: inline-block;

    margin: 12px auto;
    padding: 4px 17px 3px 17px;

    text-align: center;
    text-decoration: none;

    color: white;
}
.info-column .more
{
    background-color: #81b3d2;
}
.info-column .more:hover
{
    background-color: #669ec0;
}
.info-column .more:active
{
    color: #88b6d1;
    background-color: #5496bd;
}
.info-column .reservations
{
    background-color: #766357;
}
.info-column .reservations:hover
{
    background-color: #604e43;
}
.info-column .reservations:active
{
    color: #857871;
    background-color: #503e33;
}
.info-column
{
    float: left;
}
.info-column span
{
    display: block;
}
.result-item-right
{
    position: absolute;
    top: 25px;
    right: 0;

    width: 9%;
    padding-right: 6%;

    text-align: right;
}
.result-item-right span
{
    padding: 4px 9px;

    background-color: #f2f2f2;
}
.stars3,
.stars4,
.stars2
{
    margin-top: 2px;
    margin-bottom: 40px;
}
.stars4::before
{
    content: url('../img/stars4.png');
}
.stars3::before
{
    content: url('../img/stars3.png');
}
.stars2::before
{
    content: url('../img/stars2.png');
}
.formchoice-show
{
    animation: scaleup .6s ease;

    animation-fill-mode: forwards;
}
